<!--Jai Sai Master!! This is the Main Backup file from Bootstrap Jan 2022 Implementation 
This is the Version that resides on Godaddy Server
It will redirect any old Url ie. Manual Urls to Https
It has Godaddy Temp Physical folder pointed-->
<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
	<rewrite>
    <rules>
	<rule name="HTTP to HTTPS redirect" stopProcessing="true"> 
	    <match url="(.*)" /> 
	    <conditions> 
                <add input="{HTTPS}" pattern="off" ignoreCase="true" />
	    </conditions> 
	    <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>   
    </rules>
</rewrite>
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.8" tempDirectory="G:\PleskVhosts\saibharadwaja.org\tmp" />
	  <httpRuntime targetFramework="4.8"/>
  </system.web>
</configuration>