/*
  !! Jai Sai Master !!
*/

div#books-list-container
{
    background-color: transparent;
    margin: 20px auto;
    height: auto;
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
}

.cont_principal {
    width: 100%;
    border: none;
}

.cont_breadcrumbs {
    width: 400px;
    margin: auto;
}


.cont_breadcrumbs_3 {
    width: 100%;
    margin: 0 0 0 2px;
}


    .cont_breadcrumbs_3 > ul > li .aHere {
        background-image: url("../imgs/lightedBg.png");
        position: relative;
        height: 18px;
        float: left;
        z-index: 1;
        list-style: none;
        padding: 0;
        margin-left: 0;
    }


    .cont_breadcrumbs_3 > ul > li {
        position: relative;
        height: 18px;
        float: left;
        background-color: #fff;
        z-index: 1;
        list-style: none;
        padding: 0px 6px 0px 3px;
        transform: skewX(-15deg);
        margin-left: 1px;
        margin-right: 2px;
    }

        .cont_breadcrumbs_3 > ul > li:hover {
            background-color: #CFD8DC;
        }

        .cont_breadcrumbs_3 > ul > li > a {
            display: block;
            transform: skewX(15deg);
            padding: 0 0 0 6px;
            font-family: OswaldBS, MandaliBS;
            font-size: 10px;
            text-decoration: none;
            color: #666;
        }


        .cont_breadcrumbs_3 > ul > li:last-child {
            background-color: #78909C;
        }

            .cont_breadcrumbs_3 > ul > li:last-child > a {
                color: #fff;
            }


div#gapperTop {
    height: 2px;
    border: 1px dashed;
}

.rightCircle {
    padding: 0 10px 0px 0px;
}

